{% include 'ParadigmBundle:partials:home_header.html.twig' %}
<!-- CAROUSEL -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <!-- buttons oooo -->
    <ol class="carousel-indicators" style="bottom:19%">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner" >
        <div class="active item" >
            <img src="{{ asset('bundles/paradigm/img/works/wordpress-HD.jpg') }}" alt="Slide 1" style="width:100%" >
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/paradigm/img/works/knowledge.jpg') }}" alt="Slide 2"" style="width:100%" >
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/paradigm/img/works/cake-php-hd-full.jpg') }}" alt="Slide 3"" style="width:100%">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/paradigm/img/works/symfony-HD.jpg') }}" alt="Slide 4"" style="width:100%">
            <div class="carousel-caption"></div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <img src="{{ asset('bundles/paradigm/img/works/arrow_white_left.png') }}" class="arrow-white-left">
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <img src="{{ asset('bundles/paradigm/img/works/arrow_white_right.png') }}" class="arrow-white-right">
    </a>
</div>
<!-- LOGO -->
<div >    
    <img src="{{ asset('bundles/paradigm/img/works/background_header.png') }}" class="header-background">
    <a href="{{ path('home') }}">
        <img src="{{ asset('bundles/paradigm/img/works/monalisa.png') }}"  class="header-logo">
    </a>
</div>
<!-- MENU -->
<div class="menu">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="border-color:#322;padding-right:25px;">        
        <span class="sr-only" style="background-color: white">Toggle navigation</span>
        <span class="icon-bar" style="background-color: white"></span>
        <span class="icon-bar" style="background-color: white"></span>
        <span class="icon-bar" style="background-color: white"></span>
    </button>    
    <div class="menu-content collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul>
            <li>
                <a class="slideToggle" href="#">ABOUT</a>
                <div class="sub-menu">
                    <div class="sub-menu-content">
                        <a  href="#" class="glyphicon glyphicon-remove slideToggle" style="color: grey;"></a>
                        <div class="left-sub-menu">
                            <ul>
                                <li>
                                    <img src="{{ asset('bundles/paradigm/img/works/arrow_black_right.png') }}">
                                    <a href="#" class="slideToggle3" >WEB DEVELOPMENT</a>
                                    <div class="end-content">
                                        <p>PHP MySQL</p>
                                        <p>ZEND and SYMFONY2 MVC frameworks</p>
                                        <p>JAVA JSP SERVLET</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/paradigm/img/works/arrow_black_right.png') }}">
                                    <a href="" class="slideToggle4">WEB DESIGN</a>
                                    <div class="end-content1">
                                        <p>HTML5 CSS3</p>
                                        <p>RESPONSIVE DESIGN</p>
                                        <p>JAVASCRIPT</p>
                                        <p>JQUERY AJAX</p>
                                        <p>PHOTOSHOP</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="slideToggle1" href="#" >WORKS</a>
                <div class="sub-menu1" >                    
                        <a  href="#" class="glyphicon glyphicon-remove slideToggle1" style="color: grey;"></a>
                        <div class="left-sub-menu1">
                            <ul>
                                <li>
                                    <img src="{{ asset('bundles/paradigm/img/works/arrow_black_right.png') }}">
                                    <a href="{{ path('cms') }}" class="slideToggle5">THE INTERNATIONAL POST</a>
                                    <div class="end-content2">
                                        <img src="{{ asset('bundles/paradigm/img/works/internationalpost_small.png') }}" style="margin-top:50px; margin-left:-30px;">                                            
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/paradigm/img/works/arrow_black_right.png') }}">
                                    <a href="{{ path('shop_home') }}" class="slideToggle6" >E-SHOP</a>
                                    <div class="end-content3">
                                        <img src="{{ asset('bundles/shop/images/shop_screen.png') }}">
                                    </div>
                                </li>
                            </ul>
                        </div>                    
                </div>
            </li>
        </ul>
    </div>
</div>
{% include 'ParadigmBundle:partials:home_footer.html.twig' %}