{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">

            <h1 class="mt-4">
                The Agency
            </h1>
            <div class="container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores deleniti dolorum earum eius eligendi eveniet ex harum, ipsam iusto libero, necessitatibus obcaecati odio officia officiis repellat sequi, vitae voluptates.
                </p>
            </div>
        </div>

        <div class="container mb-5">
            <h1>{{ "Les biens à la Une"|convert_encoding('UTF-8', 'ISO-8859-1') }}</h1>
            <div class="row flex">
                {% for property in properties %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id:property.id, name:property
                                    .name})
                                }}">{{ property
                                    .name
                                    }}</a>
                            </h5>
                            <p class="card-text">
                                {{ property.description }}
                            </p>
                            <div class="text-primary">
                                chambres: {{  property.rooms }}
                            </div>
                            <div class="text-primary">
                                salle-de-bains: {{ property.bedrooms }}
                            </div>
                            <div class="text-secondary">
                                {{ property.surface }} m
                            </div>
                            <div class="text-primary">
                                {{ property.created }}
                            </div>
                            <div class="text-primary font-weight-bold h3">
                                {{ property.price }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}