{% include 'ParadigmBundle:partials:cms_admin_header.html.twig' %}

<div class="container margin-top-3" style="min-height:597px; letter-spacing: 2px">
    <h3>Works</h3>

    <!-- FLASH -->
    {% set flash  = app.session.flashbag.get('flash') %}
    {% if flash.type is defined %}
        <div class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</div>    
    {% endif %}

    <p><a href="{{ path('edit_work') }}" class="btn btn-success">Create a new Work</a></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th><th>Name</th><th>slug</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td>{{ work.id }}</td><td>{{ work.name }}</td><td>{{ work.slug }}</td>
                <td>
                    <a href="{{ path('edit_work', {'id':work.id, 'csrf':app.session.get('token')}) }}" class="btn btn-success">edit</a>
                    <a href="{{ path('delete_work', {'id':work.id, 'csrf':app.session.get('token')}) }}" 
                       class="btn btn-danger" onclick="return confirm('are you sure?')">delete
                    </a>
                </td>
            </tr>        
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'ParadigmBundle:partials:cms_admin_footer.html.twig' %}