Article : {{article.slug}}<br />
Publié en : {{article.annee}}<br />
Langue : {{article.lang}}<br/>
Format : {{article.format}}<br/>
Token : {{article.token}}<br/>
Nous sommes le : {{article.date|date("d/m/Y")}}<br/>
ou bien avec "now"|date(d/m/Y) : {{"now"|date("d/m/Y")}}<br/><br/>

<a href="{{path('tuto_blog_page', {id: article.annee}) }}" >retour à la page {{article.annee}}</a><br/><br/>

getRequest('request') :<br/>{{article.request}}<br/><br/>

cookies PHPSESSID :<br/> {{article.cookie}}<br/><br/>

auteur : {{article.auteur}}<br/><br/>

cookies all() :<br/>
{% for key,value in article.cookies %}
{{key}} : {{ value }}<br/>
{% endfor %}
<br/><br/>

session :<br/>
{% for key,value in article.session %}
{{key}} : {{value}}<br/>
{%endfor%}


