{% include 'ParadigmBundle:partials:cms_header.html.twig' %}
<div class="container margin-top-3">
    <form method="post" >
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                {{ form_row(form.name, {'attr':{'class':'form-control'}} ) }}
                </div>
                <div class="form-group">
                {{ form_label(form.slug, 'un autre nom de label') }}
                {{ form_widget(form.slug, {'attr':{'class':'form-control'}} ) }}
                {{ form_errors(form.slug) }}
                </div>
                <div>
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
                </div><br>            
                <div class="form-group">                
                    <select class="form-control" name="categoryId">
                    {% for category in categories %}                        
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                    </select> 
                </div>
                <div class="g-recaptcha" data-sitekey="6LeADwwTAAAAACZql1iYwIdY5o9kZ-6joJk8a7Z5"></div>
                <div>
                    <input type="submit" class="btn btn-primary" >
                </div>
            </div>        
        </div>       
    </form>
</div>

{% include 'ParadigmBundle:partials:cms_footer.html.twig' %}