<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>The International Post</title>
{#% include 'ParadigmBundle:partials:offline_CSS_JS.html.twig' %#}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('bundles/paradigm/css/paradigm.css') }}" type="text/css" />
<link rel="icon" href="{{ asset('bundles/paradigm/img/works/favicon.png') }}">
</head>
  <body style="background-image :url({{ asset('bundles/paradigm/img/works/bg.jpg') }}); ">    
    <div class="navbar navbar-fixed-top navbar-inverse bs-docs-nav" role="navigation" style="position:relative; margin: 0; letter-spacing: 2px">      
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="border: 1px solid grey;">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar" style="background-color: grey;"></span>
                  <span class="icon-bar" style="background-color: grey;"></span>
                  <span class="icon-bar" style="background-color: grey;"></span>
              </button>
              <a class="glyphicon glyphicon-home" id="glyphicon2" href="{{ path('home') }}" ></a>          
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border-color:none">
          <ul class="nav navbar-nav right-50">
              <li >
                  <a href="{{ path('cms') }}" >THE INTERNATIONAL POST</a>              
              </li>
              <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">ARTICLES<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ path('works') }}">Edit an Article</a></li>
                      <li><a href="{{ path('edit_work') }}">Create a new Article</a></li>                 
                      
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">CATEGORIES<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ path('categories') }}">Edit a Category</a></li>
                      <li><a href="{{ path('edit_category') }}">Create a new Category</a></li>                      
                  </ul>
              </li>          
          </ul>
          <ul class="nav navbar-nav right-zero">
              <li>
                  <a href="{{ path('logout') }}" >logout</a>
              </li>    
          </ul>
        </div>      
    </div><!-- /.navbar -->