{% include 'ParadigmBundle:partials:cms_admin_header.html.twig' %}

<!-- FLASH -->
{% set flash = app.session.flashbag.get('flash') %}
{% if flash.type is defined %}
    <div class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</div>
{% endif %} 

{# put the values of the category in $_POST to find them back in case of coming back from controller (e.g. slug error #}
{% if category.id is defined %}
    {% set cat = {'id': category.id, 'name': category.name, 'slug': category.slug } %}    
    {{ app.request.request.replace(cat) }}    
{% endif %}
    
    
<div class="container margin-top-3" style="min-height:687px; letter-spacing: 2px">
    <h2>Edit a category</h2>
    <!-- FORM -->
    <form action="#" method="post" onsubmit="return validateFormEditCategory()">
        <div class="form-group">        
            <input type="hidden" class="form-control" name="id" value="{{ app.request.request.get("id") }}"> 
        </div>
        <div class="form-group">
            <label for="name">name</label><span id="myErrorSpan3"></span>
            <input type="text" class="form-control" id="name" name="name" value="{{ app.request.request.get("name") }}">
        </div>
        <div class="form-group">
            <label for="slug">slug</label><span id="myErrorSpan4"></span>
            <input type="text" class="form-control" id="slug" name="slug" value="{{ app.request.request.get("slug") }}">
        </div>
        <button type="submit" class="btn btn-success">submit</button>
    </form>
</div>
{#{ dump(app.request.request) }#}
{#{ dump(app.request.query) }#}

{% include 'ParadigmBundle:partials:cms_admin_footer.html.twig' %}