{% include('ShopBundle:partials:home_header.html.twig') %}
<div class="container" >
    {% if app.request.query.get('cart') == 'view' %}
    <h2>My Order</h2>
    {% endif %}    
    <div class="row">        
    {% for key,product in products %}
        <div class="col-sm-3" >
            <div class="shop-article">
                <a href=""  data-toggle="modal" data-target="#myModal{{ loop.index }}">
                    <img src="{{ asset('bundles/shop/images/'~'small_'~images[loop.index0][0].name) }}" class="" alt="" width="" style="max-width: 100%;" >
                </a>
                <p id="product_name">{{ product.name }}</p>
                <p id="product_price"><b>${{ random(200) }}</b></p>
                {% if app.request.query.get('cart') == 'view' %} {# ordered products #}                
                <a href="{{ path('delete_product', {'product_id':key} ) }}">
                    <button type="button" class="close" title="remove from my order" style="float:none; margin-right: -88%">&times;</button>                    
                </a>
                {% endif %}
            </div>
            <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{ product.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ asset('bundles/shop/images/'~images[loop.index0][0].name) }}" alt="" height="320">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left">Close</button>
                            <a href="{{ path('order', {'product_id':product.id} ) }}"><button type="button" class="add-to-cart-btn"></button></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>        
    {% if loop.index%4==0 or loop.last %} {# fermer la row tous les 4 produits ou le dernier #}
    </div> 
        {% if loop.last==false %} {# ouvrir une nouvelle row tous les 4 produits #}
    <div class="row">
        {% endif %}    
    {% endif %}
    {% endfor %}    
</div>    
{% include('ShopBundle:partials:home_footer.html.twig') %}