{% include 'ParadigmBundle:partials:cms_admin_header.html.twig' %}

<!-- FLASH -->
{% set flash  = app.session.flashbag.get('flash') %}
{% if flash.type is defined %}
    <div class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</div>    
{% endif %}
    
{# put the values of the category in $_POST to find them back in case of coming back from controller (e.g. slug error #}
{% if work is defined %}
    {% set w = {'id': work.id, 'name':work.name, 'slug':work.slug, 'content':work.content, 'categoryId':work.categoryId, 'imageId':work.imageId} %}
    {{ app.request.request.replace(w) }}
{% endif %}
    
<div class="container margin-top-3" style="min-height:687px; letter-spacing: 2px">
    <h2>Edit a work</h2>

    <form action="{{ path('edit_work') }}" method="post" enctype="multipart/form-data">
        <div class='row'>
            <div class="col-sm-8">    
                <div class="form-group">
                    <input type="hidden" name="id" class="form-control" value="{{ app.request.request.get('id') }}">        
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" value="{{ app.request.request.get('name') }}">
                </div>
                <div class="form-group">
                    <label for="slug">slug</label>
                    <input type="text" name="slug" class="form-control" value="{{ app.request.request.get('slug') }}">
                </div>
                <div>
                    <label for="content">Content</label>
                    <textarea name="content" class="form-control">{{ app.request.request.get('content') }}</textarea>
                </div>
                <div><br>
                    <label for="category_id">Category</label>
                    <select class="form-control" name="category_id">
                    {% for category in categories %}
                        {% set selected = '' %}
                        {% if category.id == app.request.request.get('category_id') %}
                            {% set selected = 'selected = "selected"' %}
                        {% endif %}
                        <option value="{{ category.id }}" {{ selected }}>{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </div> 
            </div>
            <div class="col-sm-4"W>
            {% if images is defined %}
                {% for image in images %}<!-- php app/console assets:install   (public folder) -->
                    <img src="{{ asset('bundles/paradigm/img/works/'~image.name) }}" width="170"><br>
                    <a href="{{ path('delete_image', {'id':image.id, 'work_id':work.id}  ) }}" >delete</a><br>
                    <a href="{{ path('highlight_image', {'id':image.id, 'work_id':work.id}  ) }}" >highlight</a><br><br>
                {% endfor %}
            {% endif %}
                <div class="form-group">
                    <input type="file" name="images[]">
                    <input type="file" name="images[]" class="hidden" id="hidden_btn">
                </div>
                <a href="#" class="btn btn-success" id="add_btn" >add an image (475x317)</a>
                <div><br><button type="submit" class="btn btn-success" >submit</button></div>
            </div>            
            
        </div>
    </form>
</div>
<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
<script> tinymce.init({selector:'textarea'}); </script>
{% include 'ParadigmBundle:partials:cms_admin_footer.html.twig' %}