<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shopping</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    {#% include 'ShopBundle:partials:offline_CSS_JS.html.twig' %#}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/shop.css') }}" type="text/css" />
    <link rel="icon" href="{{ asset('bundles/shop/images/favicon.png') }}">
</head>    
<body style="background-image : url({{ asset('bundles/shop/images/bg-body.jpg') }});background-repeat: no-repeat;background-color: #ecf2f2;">

  <nav class="navbar navbar-default" role="navigation" style="background-color: rgb(236, 242, 242);">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">        
      <!-- END NAVBAR RESPONSIVE TOGGLE BUTTON -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a href="{{ path('shop_home') }}">
        <img src="{{ asset('bundles/shop/images/shop5.png') }}" alt="shop">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="">
      <ul class="nav navbar-nav">
        <li class="active">
            <!-- BEST-SELLER BUTTON - - - - -->
            <form action="{{ path('shop_home') }}" method="post">
                <input type="hidden" name="product_name" value="The Wolf of Wall Street 2013">            
                <input type="submit" value="Best-seller" id="best-seller-btn">
            </form>
        </li>        
        
        <!-- DROPDOWN DEPARTMENTS -->
        <li>
          <a href="#" data-toggle="dropdown" id="navbar-btn-2lines">
              <span>Shop by<br></span>
              <span><b>Department</b></span>
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              {% set i=0 %}
              {% for department in departments %}                
              <li><a href="{{ path('shop_home',{'department':department.id}) }}">{{ department.name }}</a></li>
                {% set i=i+1 %}
              {% endfor %}
              <li class="divider"></li>
              <li><a href="{{ path('shop_home') }}">All departments</a>
          </ul>
        </li>
      </ul>
        
      <!-- NAVBAR FORM -->
      <form  action="{{ path('shop_home') }}" method="post" class="navbar-form" role="search" style="display:inline; border-top: none; border-bottom: none;">
        <div class="form-group" style="display: inline;">
          <input type="text"
                 id="product" 
                 name="product_name"                 
                 class="form-control" 
                 autocomplete="off"
                 autofocus
                 style="max-width:29%;margin-top:9px; display: inline" 
                 placeholder="Search a product" >  
          <button type="submit" 
                  class="btn btn-default" 
                  style="margin-top:9px;display:inline;" >
                    Go
          </button>
        </div>
      </form>
      
      <!-- DROPDOWN MENU -->      
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{{ path('shop_home', {'cart':'view' } ) }}"  style="padding:0;position: absolute;margin-left: -75px;">
                <span id="cart-number">
                    {% if app.session.get('order') is not null %}
                        {{ app.session.get('order').getProducts()|length }}
                    {% endif %}
                </span>
                <img src="{{ asset('bundles/shop/images/cart.png') }}" title="See my cart" style="margin-top: 3%;">
            </a>
        </li>
        <li class="dropdown" style="border-left: 1px solid lightgray;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <b class="caret"></b></a>
          <ul class="dropdown-menu">            
            <li><a href="{{ path('cms') }}">The International Post</a></li>
            <li><a href="{{ path('shop_home') }}">The e-Shop</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('home') }}">Mona Lisa Creations</a></li>
          </ul>
        </li>
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="txtHint"></div>
